<!-- Navigatie balk -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="#">Test 1</a></li>
            <li><a href="#">Test 2</a></li>
        </ul>
    </div>
</nav>
