<h3>Home Component works!</h3>
<div *ngIf="products !== undefined ">
    <ul>
    <li *ngFor="let p of products">
        <a routerLink="/product/{{p.id}}">{{p.brand.name}} {{p.model}}</a>
    </li>
    </ul>
</div>
